<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Hakkımda</div>
              <div>
                <ul>
                  <li *ngFor="let m of about2 | split">{{m}}</li>
                </ul>
              </div>
                <p>{{about1}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Temel Bilgiler</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Doğum tarihi:</strong>
                </div>
                <div class="col-sm-8">Şub 15, 1998</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">E-Posta:</strong>
                </div>
                <div class="col-sm-8">dogangns.98@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Telefon:</strong>
                </div>
                <div class="col-sm-8">+90 539 853 3010</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Adres:</strong>
                </div>
                <div class="col-sm-8">Antalya / Türkiye
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Dil:</strong>
                </div>
                <div class="col-sm-8">Türkçe</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>